.selected-item__container {
    padding: 20px;
    position: relative;
}

.selected-item__description-container {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 16px 0;
}

.selected-item__description {
    line-height: 1.5;
}

.selected-item__review-container {
    display: flex;
    justify-content: center;
}

.selected-item__review {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    text-align: center;
    padding: 0 30px;
}

.selected-item__review:first-child {
    border-left: none;
}

.selected-item__review:last-child {
    border-right: none;
}

.selected-item__review-source {
    font-size: 13px;
}