.header__search-container {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
}

.header__search-icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.header__search-input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    color: white;
    padding-left: 35px;
    width: 100%;
}

.header__search-input::placeholder {
    color: lightgray;
    font-size: 18px;
}

.header__search-input::-moz-placeholder {
    color: lightgray;
    font-size: 18px;
}

.header__search-input:-ms-input-placeholder {
    color: lightgray;
    font-size: 18px;
}