.radio-button__field-set {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.radio-button__container {
    margin-left: 5px;
    color: white;
    display: flex;
    align-items: center;
}

.radio-button__button {
    margin: 0;
}

.radio-button__label {
    margin-left: 3px;
}