.search-result__content-container {
    display: flex;
    width: 100%;
}

.search-result__list-container {
    width: 40%;
    height: 90vh;
    overflow-y: scroll;
    border-right: 1px solid lightgray;
}

.search-result__total-count {
    margin-left: 20px;
}

.search-result__list {
    padding: 0;
}

.search-result__selected-container {
    width: 60%;
}