.search-item__container {
    border-bottom: 1px solid lightgray;
    list-style: none;
    padding: 20px;
    display: flex;
    width: 100%;

}

.search-item__container:hover {
    background: #d8d8d8;
}

.search-item__image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.search-item__text-container {
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-item__title {
    font-weight: light;
    margin: 0;
}

.search-item__year {
    color: grey;
    font-size: 14px;
}